* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
    background-color: ivory;
}

a:link, a:visited {
    text-decoration: none;
    color: blueviolet;
}

.box1 {
    text-align: center;
    margin: 0 auto;
}

.container
{
    text-align: center;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
    font-size: x-large;
}
.nav-btn2 {
    text-align: center;
    margin: 0 auto;
    font-family: 'Poor Story', cursive;
    font-size: large;
}

nav {
    height : 50;
    background-color: rgb(230, 224, 255);
}

.box1 {
    list-style-type: none;
    margin: 0;
    line-height: 30px;
}

.nav-btn2 {
    list-style-type: none;
    margin: 0;
}

ul.box1 > li {
    float: none;
    margin: 25px;
}

ul.nav-btn2 > li {
    float: none;
    margin: 25px;
}

.nav::after {
    content: "";
    display: block;
    clear: both;
}

/*header*/
.hd{
    position: relative;
    height: 450px;
    text-align: center;
}

.hd-title {
    margin-bottom: 25px;
    margin-top: 0;
    padding-top: 200px;
}

.hd:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("./배경화면.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hd .contanier {
    position: relative;
    color: black;
}

/*section*/

.sec {
    text-align: center;
    padding: 200px;
    margin: 0 auto;
}

.sec article {
    float: left;
    width: 300px;
    margin-right: 30px;
}

.sec article:last-child {
    margin-right: 0;
}

.sec article card-img {
    width: 100%;
    height: auto;
}

.sec::after {
    content: "";
    display: "";
    clear: both;
}
