<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>새 글 작성</h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <label for='title'>제목</label>
        <input type='text' name='title'/><br><br>
        <label for ='content'>내용</label>
        <textarea name="content" id='content' cols="30" rows="10"></textarea><br><br>
        <input type="submit" value="제출">
    </form>
</body>
</html>