<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글 목록</h1>
    <br><br>
    {% for list in lists %}
    <h3><a href="{% url 'detail' list.pk %}">{{list.title}}</a></h3>
    {{list.date}}
    {% endfor %}
    <br><br>
    <a href = "{% url 'create' %}"><button>글 작성</button></a><br><br>
    {% if request.user.is_authenticated %}
    <span>
        로그인 상태: {{ request.user.username }}
    </span>
    {% else %}
    <span>
        비로그인 상태
    </span>
    {% endif %}
</body>
</html>